<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM2ZAq_y79VZpz8AxFiEY-9m0P4cAN7vM</string>
	<key>GCM_SENDER_ID</key>
	<string>1061950380901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmTest</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-9af7a</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-9af7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061950380901:ios:95f57ece3fcbcf56c95f8c</string>
</dict>
</plist>